/* 
    Document   : dvdclub
    Created on : 17/02/2012, 08:01:55
    Author     : marc
    Description:
        Purpose of the stylesheet follows.
*/

#menu a {color:#fff;text-decoration:none;}
#menu a:hover {color:#367889;}